* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #FDE8D7;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(195deg, #9E829C, #FBD0AE);
    margin: 100px auto 0;
    color: #F0EFF4;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search input {
    border: 0;
    outline: 0;
    flex: 1;
    color: #150B14;
    background: #C7B9C8;
    height: 50px;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 18px;
    padding: 15px 20px;
    box-shadow: 10px 10px 5px #8078A7;

}

.search button {
    width: 50px;
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    background: #C7B9C8;
    cursor: pointer;
    box-shadow: 10px 10px 5px #8078A7;


}


.search button img {
    width: 20px;

}

.icon {
    width: 50%;
    height: 50%;
    margin-top: -25px;
}

.weather h1 {
    font-size: 45px;
    font-weight: 200;
    margin-top: -35px;

}

.weather h2 {
    font-size: 35px;
    font-weight: 50;
}


.details {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0px 20px;
    margin-top: 50px
}

.col {
    display: flex;
    align-items: center;
    text-align: left;

}

.col img {
    width: 50px;
    margin-right: 10px;
    mix-blend-mode: multiply;
}

.humidity,
.speed {
    font-size: 25px;
    font-weight: 100;
    margin-top: 1px;
}